<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Octarina</title>
    <meta name="description" content="todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="nav">
        <a class="nav__link" href="index.html">Back to Homepage</a>
    </nav>

    <footer class="footer">
        <a class="footer__link" href="imprint.html">Impressum</a>
        <a class="footer__link" href="dsgvo.html">Data Policy</a>
    </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&refreshPage=1&showNoConsent=1"></script>    
  </body>
</html>