<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Octarina</title>
    <meta name="description" content="todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="section section--header section--fullscreen header">
      <img class="header__logo" src="images/content/logo.png" alt="octarina logo containing an octopus and a font spelling 'octarina'">
      <img class="header__image" src="images/content/header-img.png" alt="header image containing a running sushi restaurant and the logo">
    </header>
    <main>
      <section class="section section--trailer section--fullscreen trailer">
        <div class="wrapper">
          <div> 
            <a class="trailer__player" href="https://www.youtube.com/watch/w9DKBKqvu4g" target="_blank">
              <img src="../images/content/youtube-placeholder.png" alt="image showing the youtube thumbnail containing an octopus"/>
            </a> 
            <!-- <iframe id="iframe" class="trailer__player" width="560" height="315" src="https://www.youtube.com/embed/w9DKBKqvu4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
        </div>
      </section>
      <section class="section section--about section--fullscreen about">
        <div class="wrapper">
          <h1 class="about__headline headline">about the game</h1>
          <img class="about__img about__img--1" src="../images/content/about-1.png">
          <p class="about__text about__text--1">Octarina is a physics-based 3D puzzle platformer featuring a trapped little octopus who must find a way out and escape out of a sushi factory site.
            You play as an adorable little octopus, which is trapped inside an aquarium for its whole life. Not as a pet, but rather as a sushi ingredient. Escape your captivity and find a way out before it's too late! Use the sticky abilities of Octarina to jump, climb and cause mayhem in the factory. Discover your way to regain freedom!
            
            Octarina is in active development by a small team of master's program students from the Salzburg University of Applied Sciences. </p>
          <p class="about__text about__text--2">You'll have to find a way to escape your current situation. Octarina has the ability to stick to its environment and objects. You explore the factory and try to open up new ways. To do that you climb up walls, push buttons and throw around various things to work your way through the factory to escape. There are many dangers but also secrets in the level which will challenge your finesse.</p>
          <img class="about__img about__img--2" src="../images/content/about-2.png">
          <img class="about__img about__img--3" src="../images/content/about-3.png">
          <p class="about__text about__text--3">Additionally to its main storyline, Octarina contains two other challenging gamemodes so far. Firstly, in the “Checkpoint Race” gamemode the octopus has to navigate through the factory and reach different checkpoints within a certain timeframe. The second gamemode is “The Floor is Lava”, a gamemode in which Octarina is threatened by rising lava and the objective is to reach the goal on higher ground. </p>
        </div>
      </section>
      <section class="section section--download download">
        <h1 class="download__headline headline">download</h1>
        <a href="https://octarina.itch.io/octarina#download" target="_blank" class="download__button">
          <img class="download__icon " src="../images/content/icon-windows.png">
          windows
        </a>
      </section>
      <section class="section section--news news">
        <h1 class="news__headline headline">News</h1>
        <div id="twitter-feed"></div>
      </section>
      <section class="section section--social-media social-media">
        <h1 class="social-media__headline headline">social media</h1>
        <a href="https://www.instagram.com/octarina_game/" target="_blank" class="social-media__button">
          <img class="social-media__icon" src="../images/content/icon-instagram.png">
          octarina_game
        </a>
        <a href="https://twitter.com/octarina_game" target="_blank" class="social-media__button">
          <img class="social-media__icon" src="../images/content/icon-twitter.png">
          octarina_game
        </a>      
        <a href="https://discord.gg/DMUrRRr" target="_blank" class="social-media__button">
          <img class="social-media__icon" src="../images/content/icon-discord.png">
          Octarina
        </a>
      </section>
      <section class="section section--team section--fullscreen team">
        <div class="wrapper">
          <h1 class="team__headline headline">Team</h1>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-unknown.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Simon Meusburger</b><br>
              Audio<br>
              <a class="member__link" href="https://www.linkedin.com/in/smeusburger/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-unknown.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Kerstin Grosche</b><br>
              Audio<br>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-nadine.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Nadine Bartosch</b><br>
              Level Scripting & Programming<br>
              <a class="member__link" href="https://www.linkedin.com/in/nadine-bartosch-a10422207/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-martin.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Martin Wolf</b><br>
              Game Design & Programming<br>
              <a class="member__link" href="https://www.linkedin.com/in/martin-wolf-3b9210125/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-dhana.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Dhana Panzer</b><br>
              3D Artist & Level Design<br>
              <a class="member__link" href="https://www.linkedin.com/in/dhana-damira-aime%C3%A9-panzer/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-unknown.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Christopher Pöschl</b><br>
              Project Management<br>
              <a class="member__link" href="https://www.linkedin.com/in/christopher-p%C3%B6schl-9a853615a/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-slavko.jpeg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Slavko Ivanovic</b><br>
              Game Design & Programming<br>
              <a class="member__link" href="https://www.linkedin.com/in/slavko-ivanovic-0a3604156/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-katrin.png" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Katrin Mair</b><br>
              Game Design & Programming<br>
              <a class="member__link" href="https://www.linkedin.com/in/katrin-mair-83349a158/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
          <div class="team__member member">
            <img class="member__img" src="../images/content/member-denise.jpg" alt="Picture of Denise">
            <p class="member__text"> 
              <b>Denise Buder</b><br>
              Web Design & Programming<br>
              <a class="member__link" href="https://www.linkedin.com/in/denise-buder-5ab783122/" target="_blank">LinkedIn Profile</a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <a class="footer__link" href="imprint.html">Impressum</a>
      <a class="footer__link" href="dsgvo.html">Data Policy</a>
    </footer>
    <a href="#" onclick="document.cookie='cookiebar=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/'; setupCookieBar(); return false;">Click here to revoke the Cookie consent</a>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&refreshPage=1&showNoConsent=1"></script>    
  </body>
</html>