<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Octarina</title>
    <meta name="description" content="Octarina is a physics-based 3D puzzle platformer featuring a trapped little octopus who must find a way out and escape out of a sushi factory site. You play as an adorable little octopus, which is trapped inside an aquarium for its whole life. Not as a pet, but rather as a sushi ingredient. Escape your captivity and find a way out before it's too late! ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="nav">
        <a class="nav__link" href="index.html">Back to Homepage</a>
    </nav>
    <section class="press press--text"> 
        <div class="wrapper wrapper--1">
            <div class="press__facts">
                <h1 class="facts__headline">Factsheet</h1>
                <h3 class="facts__subline">
                    Inquiries & Contact
                </h3>
                <p class="facts__text"> 
                    The Salty Octopus Crew <br>
                    <a href="mailto:octarina.game@gmail.com" target="_blank">octarina.game@gmail.com</a>  <br>
                    <a href="https://octarina.netlify.app/" target="_blank">octarina.netlify.app</a>  <br>    
                </p>

                <h3 class="facts__subline">
                    Social Media
                </h3>
                <p class="facts__text"> 
                    <a href="https://instagram.com/octarina_game/" target="_blank">Instagram</a>  <br>    
                    <a href="https://twitter.com/octarina_game" target="_blank">Twitter</a>  <br>    
                </p>
                <h3 class="facts__subline">
                    Game Pages
                </h3>
                <p class="facts__text"> 
                    <a href="https://octarina.itch.io/octarina" target="_blank">itch.io</a>  <br>    
                    <a href=" https://store.steampowered.com/app/1503280/Octarina/" target="_blank">Steam</a>  <br>                       
                </p>
            </div>
            <div class="press__main-text main-text">
                <div class="media__wrapper">
                    <img class="media__image" src="../images/content/logo.png" alt="octarina logo">
                </div>   
                <h1 class="main-text__headline">
                    Octarina
                </h1>
                <h2 class="main-text__subheadline">
                    Meet the cutest octopus from FH Salzburg University of Applied Sciences 
                </h2>
                <p class="main-text__text"> 
                    A core team of six students worked already over one year on their FH Salzburg University of Applied Sciences master project game called Octarina. You are playing the role of a cute octopus and you have to escape the sushi factory while solving physics-based 3D puzzles. Octarina is able to stick to the environment and to objects with each of its tentacles. With these abilities Octarina is able to climb up walls, push buttons and throw around objects. The control of the octopus is supposed to feel a bit wonky, but not out of control, like "I am Bread" or "Octodad".
                </p>
                <h3 class="main-text__subline">
                    Key Gameplay  
                </h3>
                <p class="main-text__text"> 
                    You'll have to find a way to escape your current situation. Octarina has the ability to stick to its environment and objects. You explore the factory and try to open up new ways. To do that you climb up walls, push buttons and throw around various things to work your way through the factory to escape. There are many dangers but also secrets in the level which will challenge your finesse.
                </p>
                <h3 class="main-text__subline">
                    Different game modes
                </h3>
                <p class="main-text__text"> 
                    Additionally to its main storyline, Octarina contains two other challenging game modes so far. Firstly, in the “Checkpoint Race” gamemode the octopus has to navigate through the factory and reach different checkpoints within a certain timeframe. The second gamemode is “The Floor is Lava”, a gamemode in which Octarina is threatened by rising lava and the objective is to reach the goal on higher ground.
                </p>
                <h3 class="main-text__subline">
                    Look & Feel
                </h3>
                <p class="main-text__text"> 
                    Octarina uses a simplistic set of pastel colors (mainly blue and pink variants) in combination with a smooth shading and character outline. It radiates a cute and friendly vibe.
                    The control of the octopus is supposed to feel a bit wonky, but not out of control, like "I am Bread" or "Octodad".
                </p>
                <h3 class="main-text__subline">
                    Technical
                </h3>
                <p class="main-text__text"> 
                    The game character is a highly versatile ragdoll octopus which is able to stick to the environment and to objects with each of its tentacles. With these abilities Octarina is able to throw around objects and travers the levels in a completely new way. Therefore, the levels are designed to feature high interactability and a lot of destructible objects. Further, puzzles are designed to be solved in many different ways and feature hidden secrets to encourage you to replay the levels. The game was made using Unreal Engine 4.
                </p>
                <h3 class="main-text__subline">
                    Playtesting and Showcases
                </h3>
                <p class="main-text__text"> 
                    You already can give the prototype a try on Steam. Put it on your steam wishlist today and get the full cutsie octopus experience at the release in summer 2021. 
                    You also can see the end result at upcoming showcases: Werkschau FH Salzburg, Indie Live Expo, Steam Festival and Summer Game Fest.
                </p>
                <h3 class="main-text__subline">
                    About the Students
                </h3>
                <p class="main-text__text"> 
                    The game is the master project produced by a quite big core team of six students. Overall they worked over one and a half years on their master project. All of them are master students from FH Salzburg University of Applied Sciences. The manager and product owner of the game is Christopher Pöschl. The involved programmers are Katrin Mair, Martin Wolf, Slavko Ivanovic and Nadine Bartosch. Together with the artist Dhana Panzer they created the cutest octopus game, Octarina. They also received support from the graphic designer Nina Lenz with the logo design. The crisp sound design is made by the audio designer Simon Moisburger and the beautiful main theme is by the musician Kerstin Grosche. Denise Buder created the website.
                    A gameplay trailer was made by Philip Toigo, 
                    And Melanie Bartl supported the project with 3D art.
                </p>
            </div>
        </div>
    </section>
    <section class="press press--media">
        <div class="wrapper">
            <div class="press__media media media--image">
                <h1 class="media__headline">Images</h1>
                <a class="media__download" href="../images/content/youtube-placeholder.png" download>Download all images</a>
                <div class="media__wrapper">
                    <img class="media__image" src="../images/content/media-keyart.png">
                    <p class="media__caption">Key Artwork</p> 
                </div>
                <div class="media__wrapper">
                    <img class="media__image" src="../images/content/octarina-team.png">
                    <p class="media__caption">Team Artwork</p> 
                </div>    
            </div>
            <div class="press__media media media--videos">
                <h1 class="media__headline">Videos</h1>
                <div class="media__wrapper youtube">
                    <a data-youtube="https://www.youtube.com/embed/w9DKBKqvu4g" class="media__thumbnail thumbnail" href="https://www.youtube.com/watch/w9DKBKqvu4g" target="_blank">
                        <img src="../images/content/youtube-placeholder.png" alt="image showing the youtube thumbnail containing an octopus"/>
                    </a> 
                </div> 
                <p class="media__caption">Game Trailer</p> 
                <div class="media__wrapper youtube">
                    <a data-youtube="https://www.youtube.com/embed/w9DKBKqvu4g" class="media__thumbnail thumbnail" href="https://www.youtube.com/watch/w9DKBKqvu4g" target="_blank">
                        <img src="../images/content/youtube-placeholder.png" alt="image showing the youtube thumbnail containing an octopus"/>
                    </a> 
                </div> 
                <p class="media__caption">Game Trailer</p> 
            </div>
            <div class="press__media media media--logos">
                <h1 class="media__headline">Logos</h1>
                <a class="media__download" href="../images/content/logo.png" download>Download logo</a>
                <div class="media__wrapper">
                    <img class="media__image" src="../images/content/logo.png">
                    <p class="media__caption">Bildunterschrift</p> 
                </div>  
            </div>
        </div>
    </section>
    <footer class="footer">
        <a class="footer__link" href="imprint.html">Imprint</a>
        <a class="footer__link" href="dsgvo.html">Data Policy</a>
        <a class="footer__link" href="press.html">Press</a>
      </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&refreshPage=1"></script>    
  </body>
</html>