<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Octarina</title>
    <meta name="description" content="Octarina is a physics-based 3D puzzle platformer featuring a trapped little octopus who must find a way out and escape out of a sushi factory site. You play as an adorable little octopus, which is trapped inside an aquarium for its whole life. Not as a pet, but rather as a sushi ingredient. Escape your captivity and find a way out before it's too late! ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="nav">
        <a class="nav__link" href="index.html">Back to Homepage</a>
    </nav>
    <main class="press"> 
        <div class="press__left">

        </div>
        <div class="press__right">
            
        </div>
    </main>
    <footer class="footer">
        <a class="footer__link" href="imprint.html">Imprint</a>
        <a class="footer__link" href="dsgvo.html">Data Policy</a>
        <a class="footer__link" href="press.html">Press</a>
      </footer>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&refreshPage=1"></script>    
  </body>
</html>