.about {
    background-color: $pink;
}

.about {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.about__headline {
    width: 100%;
    font-size: $headline-size;
    text-align: center;
    color: $white;
}

.about__img {
    width: 49%;
}

.about__text {
    font-family: $text-font;
    color: $white;
    line-height: 130%;
    width: 49%;
}