.about {
    background-color: $pink;
}

.about {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.about__headline {
    width: 100%;
    font-size: $headline-size;
    text-align: center;
    color: $white;
}

.about__img {
    @media only screen and (min-width: $breakpoint-web) {
        width: 44%;
        height: auto;
        margin-bottom: 4em;
        object-fit: contain;
    }
    width: 100%;
    margin-bottom: 2em;
} 

.about__text {
    @media only screen and (min-width: $breakpoint-web) {
        width: 54%;
    }
    font-family: $text-font;
    color: $white;
    line-height: 150%;
    width: 100%;
    margin-bottom: 2em;
}
@media only screen and (max-width: $breakpoint-web) {
    .about__img--1 {
        order: 1;
    }
    .about__text--1 {
        order: 2;
    }
    .about__img--2 {
        order: 3;
    }   
    .about__text--2 {
        order: 4;
    } 
    .about__img--3 {
        order: 4;
    }
    .about__text--3 {
        order: 5;
    }
}