.download {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download__button {
    background-color: $white;
    color: $blue;
    border-radius: 0.5em;
    display: flex;
    padding: 0.5em 1em;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.download__icon {
    width: 30px;
    margin-right: 0.5em;
}