.news {
    background-color: $blue;
}

#twitter-feed {
  @media only screen and (min-width: $breakpoint-web) {
    display: flex;
    align-items: flex-start;
    padding: 0;
    flex: 1 1 0px;
    padding: 0 2em;
  }
  overflow: scroll;
}

.media {
  height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.post {
  width: 370px;
  min-width: 370px;
  padding: 1.5em;
  background-color: $white;
  font-family: $text-font;
  border-radius: 15px;
  margin: 0 1em;
  flex: 1 1 0px
}

.post__date {
  width: 100%;
  text-align: right;
  color: rgba(0,0,0,0.5);
  margin-bottom: 1em;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.user__img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 0.5em;
}

.user__name {
  font-weight: 500;
}

.post__text {
  margin-bottom: 1em;
}

.interaction {
  display: flex;
  justify-content: space-between;
}

.interaction__icon {
  height: 28px;
  width: 28px;
}

.post__media {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}