.news {
    background-color: $pink;
}

#twitter-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.media {
    img {
        width: auto;
    }
}