.news {
    background-color: $pink;
}

#twitter-feed {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1em;
  max-width: 100%;
}

.media {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}