.team {
    background-color: $pink;
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        @media only screen and (min-width: $breakpoint-web) {
            flex-direction: row;
        }
    }
}

.team__headline {
    @media only screen and (min-width: $breakpoint-web) {
        width: 100%;
    }
}

.member {
    @media only screen and (min-width: $breakpoint-web) {
        width: 50%;
    }
    width: auto;
    display: flex;
    align-items: center;
    font-family: $text-font;
    color: $white;
    b {
        font-weight: 600;
    }
    padding: 1em 0;
}

.member__link {
    text-decoration: underline;
    color: $white;
    &:active,
    &:focus {
        color: $white;

    }
}

.member__img {
    margin-right: 1em;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}