.trailer {
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer__container {
    width: 100%;
}

.trailer__thumbnail {
    display: block;
}

.trailer__thumbnail--hide {
    display: none;
}