* {
    font-family: 'Amatic SC';
} 

.headline {
    font-family: $headline-font;
    font-size: $headline-size;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    color: $white;
}

