.press {
    background-color: $pink;
    color: $white;
    min-height: 100vh;

    .wrapper {
        @media only screen and (min-width: $breakpoint-web) {
            flex-wrap: wrap;
            display: flex;
        }
        padding-bottom: 4em;
    }
}

.press__facts {
    @media only screen and (min-width: $breakpoint-web) {
        width: 30%;
    }
    padding-top: 4em;
}

.facts__subline {
    margin: .8em 0 .3em;
    width: 100%;
    font-size: 2em;
    text-align: left;
    color: #fff;
    font-family: $headline-font;
    font-weight: 700;
}

.facts__text {
    font-family: $text-font;
    line-height: 150%;
    word-wrap: break-word;
    a {
        color: $white;
        text-decoration: underline;
        &:hover,
        &:active,
        &:visited {
            color: $white;
        }
    }
}

.press__main-text {
    @media only screen and (min-width: $breakpoint-web) {
        width: 70%;
        padding: 4em 1em 0;
    }
}

.main-text__text {
    font-family: $text-font;
    line-height: 150%;
}

.main-text__headline {
    width: 100%;
    font-size: 5.5em;
    text-align: left;
    color: #fff;
    font-family: $headline-font;
    font-weight: 700;
}

.main-text__subheadline {
    margin-bottom: .5em;
    width: 100%;
    font-size: 1.8em;
    text-align: left;
    color: #fff;
    font-family: $headline-font;
    font-weight: 700;
}

.main-text__subline {
    margin: .8em 0 .3em;
    font-weight: 700;
    width: 100%;
    font-size: 3.5em;
    text-align: left;
    color: #fff;
    font-family: $headline-font;
}

.press__media {
    width: 100%;
}

.media {
    margin-top: 4em;
}

.media__headline {
    width: 100%;
    font-size: 3.5em;
    text-align: center;
    color: #fff;
    font-family: $headline-font;
    font-weight: 700;
    margin-bottom: .6em;
}

.media--image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2em;
    .media__wrapper {
        width: 49%;
        height: auto;
        padding-bottom: 2em;
    }
}

.media__caption {
    font-family: $text-font;
}

.media--logos {
    display: flex;
    flex-direction: column;
}

.media__download {
    margin: 0 auto;
    font-family: $headline-font;
    color: $white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    margin-top: 1em;
    &:hover,
    &:active,
    &:visited {
        color: $white;
    }
}