.section {
  overflow: hidden;
  position: relative;
  padding-bottom: 5em;
  padding-top: 2em;
}

.section--fullscreen {
  @media only screen and (min-width: $breakpoint-tablet) {
    min-height: 100vh;
    min-width: 100vw;
  }
}

.wrapper {
  max-width: 1000px;
  padding: 0 2em;
  margin: 0 auto;
}
